<!DOCTYPE html>
<html lang="ja"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymleaf.org">
<head th:replace="fragment/head :: head_fragment(title = 'Contents画面', scripts = ~{::script})")>
    <script th:inline="javascript">
        function doPostContents() {
            ajaxHelper.doPost($("#contentsForm"));
        };
    </script>
</head>
<body>
<h2>Contents!</h2>
<div class="container">
    <form th:object="${contentsForm}" id="contentsForm" method="post" th:action="@{/contents}">
        <div class="form-group">
            <!-- コンテンツID -->
            <label for="contentsId">コンテンツID：</label>
            <span th:text="*{contentsId}"/>
            <input th:field="*{contentsId}" type="hidden" class="form-control"/>
        </div>
        <div class="form-group">
            <!-- コンテンツ値 -->
            <label for="contentsVal">ノード名（物理）</label>
            <input th:field="*{contentsVal}" type="text" class="form-control"/>
        </div>
        <!-- TODO 隠し項目　登録日付、更新日付 -->
        <!-- TODO 登録 / 更新 名称切り替え -->
        <button type="button" class="btn btn-outline-primary" onclick="doPostContents()">登録/更新</button>
    </form>
</div>
</body>
</html>
