<!DOCTYPE html>
<html lang="ja"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymleaf.org">
<head th:replace="fragment/head :: head_fragment(title = 'Node画面', blocks = ~{::blocks}, script = ~{::script})")>
    <blocks></blocks>
    <script th:inline="javascript">
        function doRequestNode() {
            ajaxHelper.doRequest($("#nodeForm"));
        };
    </script>
</head>
<body>
<h2>Internal Node!</h2>
<div class="container">
    <form id="nodeForm" method="post" th:action="@{/internal}">
        <span th:replace="fragment/form_node :: form_fragment(formName = 'nodeForm')")></span>
        <button type="button" class="btn btn-outline-primary" onclick="doRequestNode()">登録/更新</button>
    </form>
</div>
</body>
</html>
