<!DOCTYPE html>
<html lang="ja"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymleaf.org">
<head th:replace="fragment/head :: head_fragment(title = 'Node画面', blocks = ~{::blocks}, script = ~{::script})")>
    <blocks></blocks>
    <script th:inline="javascript">
        function doPostNode() {
            ajaxHelper.doPost($("#nodeForm"));
        };
    </script>
</head>
<body>
<h2>Node!</h2>
<div class="container">
    <form th:object="${nodeForm}" id="nodeForm" method="post" th:action="@{/node}">
        <input th:field="*{version}" type="hidden"/>
        <div class="form-group">
            <!-- ノードID -->
            <label for="nodeId">ノードID：</label>
            <span th:text="*{nodeId}"/>
            <input th:field="*{nodeId}" type="hidden" class="form-control"/>
        </div>
        <div class="form-group">
            <!-- ノード種別 -->
            <label for="nodeType">ノード種別</label>
            <select id="nodeType" name="nodeType" class="form-control">
                <option th:each="nt : ${T(ars.yukihiro.constants.NodeType).values()}"
                        th:value="${nt.name}"
                        th:selected="${nt.value}==*{nodeType.value}"
                        th:text="${nt.label}"></option>
            </select>
        </div>
        <div class="form-group">
            <!-- 階層 -->
            <label for="hierarchy">階層</label>
            <input th:field="*{hierarchy}" type="text" class="form-control"/>
        </div>
        <div class="form-group">
            <!-- ノード名（論理） -->
            <label for="nodeNmLgc">ノード名（論理）</label>
            <input th:field="*{nodeNmLgc}" type="text" class="form-control"/>
        </div>

        <div class="form-group">
            <!-- ノード名（物理） -->
            <label for="nodeNmPsc">ノード名（物理）</label>
            <input th:field="*{nodeNmPsc}" type="text" class="form-control"/>
        </div>
        <!-- TODO コンテンツID modelから候補取得 -->
        <!-- TODO 登録 / 更新 名称切り替え -->
        <button type="button" class="btn btn-outline-primary" onclick="doPostNode()">登録/更新</button>
    </form>
</div>
</body>
</html>
