<!DOCTYPE html>
<html lang="ja"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymleaf.org">
<head th:replace="fragment/head :: head_fragment(title = 'Tree画面', blocks = ~{::blocks}, script = ~{::script})">
    <blocks>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gijgo/1.9.13/combined/js/gijgo.min.js" integrity="sha512-T62eI76S3z2X8q+QaoTTn7FdKOVGjzKPjKNHw+vdAGQdcDMbxZUAKwRcGCPt0vtSbRuxNWr/BccUKYJo634ygQ==" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gijgo/1.9.13/combined/css/gijgo.min.css" integrity="sha512-oCuecFHHGu/Y4zKF8IoSoj5hQq1dLNIiUCwN08ChNW1VoMcjIIirAJT2JmKlYde6DeLN6JRSgntz6EDYDdFhCg==" crossorigin="anonymous" />
    </blocks>
    <script th:inline="javascript">
        var localData;
        $(document).ready(function() {
            $.ajax({
                // TODO　フィルターの値から可変とする /all
                url : $("#treeUrl").val() + "tree/all",
                method : 'get',
            }).done(function(data, status, jqXHR) {
                localData = data.data;
                // 取得結果の適用
                $('#tree').tree({
                    primaryKey: 'nodeId',
                    uiLibrary: 'bootstrap4',
                    dataSource: [localData],
                    dragAndDrop: true,
                    select: function(e, node, nodeId) {
                        console.log(e, node, nodeId);
                        // node type internal or else url have to changed
                        var url = $("#treeUrl").val() + "internal/" + nodeId;
                        $('#iframeNode').attr('src', url);
                        $('#modal1').modal('show');
                    }
                });
            }).fail(function(jqXHR) {
                console.log(jqXHR);
                // エラーメッセージ出力
                alert("error!!");
            });
            // モーダル登録／更新ボタン押下イベント
            $('#upsertBtn').on('click', function() {
                // jqueryで生のdocumentエレメントを取得するためget(0)を使用
                $('#iframeNode').get(0).contentWindow.doRequestNode();
            });
        });
    </script>
</head>
<body>
<h2>Tree!</h2>
<select id="mode" name="TreeMode" class="form-control" >
    <option th:each="tt : ${T(ars.yukihiro.enums.TreeMode).values()}"
            th:value="${tt.name}"
            th:selected="${tt.value} == ${T(ars.yukihiro.enums.TreeMode).VIEW}"
            th:text="${tt.label}"></option>
</select>
<div id="tree"></div>
<input id="treeUrl" type="hidden" th:value="@{/}"/>
<!-- TODO fragment 化 idを -->
<div class="modal fade" id="modal1" tabindex="-1"
     role="dialog" aria-labelledby="label1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="label1">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="iframe-responsive">
                    <iframe id="iframeNode" frameborder="0"></iframe>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="upsertBtn">OK</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>
