<!DOCTYPE html>
<html lang="ja"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymleaf.org">
<head th:replace="fragment/head :: head_fragment(title = 'Tree画面', blocks = ~{::blocks}, script = ~{::script})">
    <blocks>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gijgo/1.9.13/combined/js/gijgo.min.js" integrity="sha512-T62eI76S3z2X8q+QaoTTn7FdKOVGjzKPjKNHw+vdAGQdcDMbxZUAKwRcGCPt0vtSbRuxNWr/BccUKYJo634ygQ==" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gijgo/1.9.13/combined/css/gijgo.min.css" integrity="sha512-oCuecFHHGu/Y4zKF8IoSoj5hQq1dLNIiUCwN08ChNW1VoMcjIIirAJT2JmKlYde6DeLN6JRSgntz6EDYDdFhCg==" crossorigin="anonymous" />
    </blocks>
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        const modeEnum = {
            VIEW : /*[[${T(ars.yukihiro.portfolio.tree.cms.enums.TreeMode).VIEW}]]*/'',
            MOVE : /*[[${T(ars.yukihiro.portfolio.tree.cms.enums.TreeMode).MOVE}]]*/'',
            ADD : /*[[${T(ars.yukihiro.portfolio.tree.cms.enums.TreeMode).ADD}]]*/'',
            UPDATE : /*[[${T(ars.yukihiro.portfolio.tree.cms.enums.TreeMode).UPDATE}]]*/'',
            DELETE : /*[[${T(ars.yukihiro.portfolio.tree.cms.enums.TreeMode).DELETE}]]*/'',
        },
        func = {
            getUrl : (mode) => {
                let arrUrl = ["", StringHelper.trimSlash($("#treeUrl").val())],
                    isAdd = modeEnum.ADD == mode,
                    isUpdate = modeEnum.UPDATE == mode;
                if (isAdd) {
                    arrUrl.push("node");
                } else if (!isUpdate) {
                    // ADD、UPDATE以外で本メソッドの呼び出しがあった場合
                    throw Error("IllegalCallerException");
                }
                return (type) => {
                    if (isUpdate) {
                        if (!type) { throw Error("IllegalArgumentException"); }
                        let node = type.split("_")[0],
                            contents = type.split("_")[1];
                        if (node == /*[[${T(ars.yukihiro.portfolio.tree.cms.enums.NodeType).BRANCH.getValue()}]]*/'') {
                            arrUrl.push("branch");
                        } else {
                            if (contents == /*[[${T(ars.yukihiro.portfolio.tree.cms.enums.ContentsType).PLANE.getValue()}]]*/'') {
                                arrUrl.push("leaf/plane");
                            } else if (contents == /*[[${T(ars.yukihiro.portfolio.tree.cms.enums.ContentsType).CARRIER.getValue()}]]*/'') {
                                arrUrl.push("leaf/carrier");
                            }
                        }
                    }
                    return (nodeId) => {
                        arrUrl.push(nodeId);
                        return arrUrl.join("/");
                    };
                };
            },
            onSelect : (e, node, nodeId) => {
                let rec = tree.getDataById(nodeId);
                let url = func.getUrl(mode)(rec.type)(nodeId);
                $('#iframeNode').attr('src', url);
                $('#modal1').modal('show');
            }
        },
        modeConfigBase = {
            primaryKey: 'nodeId',
            uiLibrary: 'bootstrap4',
            selectionType: 'single',
        },
        modeConfig = {
                VIEW : Object.assign({}, modeConfigBase),
                MOVE : Object.assign({dragAndDrop: true}, modeConfigBase),
                ADD : Object.assign({select : func.onSelect}, modeConfigBase),
                UPDATE : Object.assign({select : func.onSelect}, modeConfigBase),
                DELETE : Object.assign({checkboxes:true}, modeConfigBase),
        };

        /*]]>*/
        let localData,
            tree,
            mode = modeEnum.VIEW;

        $(document).ready(() => {
            $.ajax({
                // TODO　フィルターの値からリクエスト先を変更する /all
                url : $("#treeUrl").val() + "tree/all",
                method : 'get',
            }).done((data, status, jqXHR) => {
                localData = data.data;
                // 取得結果の適用
                tree = $('#tree').tree(
                    Object.assign({
                            dataSource: [localData]
                        }, modeConfig.VIEW));

                function recNode(pre, crr) {
                    if (crr.children.length == 0) {
                        pre.push(crr.nodeId);
                    } else {
                        let arr = [];
                        arr.push(crr.nodeId);
                        arr.push(crr.children.reduce(recNode, []));
                        pre.push(arr);
                    }
                    return pre;
                };
                console.log("tree.data::",tree.getAll().reduce(recNode, []));
                tree.expandAll();
            }).fail((jqXHR) => {
                console.log(jqXHR);
                // エラーメッセージ出力
                alert("error!!");
            });

            // モーダル登録／更新ボタン押下イベント
            $('#upsertBtn').on('click', () => {
                // jqueryで生のdocumentエレメントを取得するためget(0)を使用
                $('#iframeNode').get(0).contentWindow.doRequestNode();
            });

            $('input[type=radio][name=modeOptions]').change(function() {
                console.log(arguments);
                mode = this.value;
                let treeConfig;
                switch(this.value) {
                    case modeEnum.VIEW:
                        treeConfig = Object.assign({dataSource: [localData]}, modeConfig.VIEW);
                        break;
                    case modeEnum.MOVE:
                        treeConfig = Object.assign({dataSource: [localData]}, modeConfig.MOVE);
                        break;
                    case modeEnum.ADD:
                        treeConfig = Object.assign({dataSource: [localData]}, modeConfig.ADD);
                        break;
                    case modeEnum.UPDATE:
                        treeConfig = Object.assign({dataSource: [localData]}, modeConfig.UPDATE);
                        break;
                    case modeEnum.DELETE:
                        treeConfig = Object.assign({dataSource: [localData]}, modeConfig.DELETE);
                        break;
                    default:
                        throw Error("IllegalArgumentException : " + this.value);
                }
                tree.destroy();
                // TODO reloadの挙動確認
                tree = $('#tree').tree(treeConfig);
                tree.expandAll();
            });
        });
    </script>
</head>
<body>
<h2>Tree!</h2>

<!-- toggle mode -->
<div class="btn-group btn-group-toggle" data-toggle="buttons" aria-label="操作モード選択">
    <th:block th:each="tt : ${T(ars.yukihiro.portfolio.tree.cms.enums.TreeMode).values()}">
        <label class="btn btn-primary">
            <input type="radio" th:class="${tt.name}" name="modeOptions" th:value="${tt.name}" th:id="${tt.name}" autocomplete="off" th:checked="${tt.name} == ${T(ars.yukihiro.portfolio.tree.cms.enums.TreeMode).VIEW.name()}">[[${tt.Label}]]
        </label>
    </th:block>
</div>

<!-- tree -->
<div id="tree"></div>
<input id="treeUrl" type="hidden" th:value="@{/}"/>

<!-- node modal -->
<div th:replace="fragment/modal_node :: modal_fragment(iframeId = 'iframeNode')")></div>

</body>
</html>
