<!DOCTYPE html>
<html lang="ja"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymleaf.org">
<head th:replace="fragment/head :: head_fragment(title = 'Tree画面', blocks = ~{::blocks}, script = ~{::script})">
    <blocks>
        <script type="text/javascript" th:src="@{/lib/js/bootstrap-treeview.js}"></script>
        <link type="text/css" th:href="@{/lib/css/bootstrap-treeview.css}"></link>
    </blocks>
    <script th:inline="javascript">
        $(document).ready(function() {
            $.ajax({
                // TODO　フィルターの値から可変とする /all
                url : $("#treeUrl").val() + "/all",
                method : 'get',
                beforeSend : function () {
                    // #tree 以下を削除
                    // $("#tree .*").remove();
                }
            }).done(function(data, status, jqXHR) {
                // 取得結果の適用
                console.log(data);
                $('#tree').treeview({
                    data : [data.data],
                    levels : 5
                });
                alert("success!!");
            }).fail(function(jqXHR) {
                console.log(jqXHR);
                // エラーメッセージ出力
                alert("error!!");
            });
        });

    </script>
</head>
<body>
<h2>Tree!</h2>
<div id="tree"></div>
<input id="treeUrl" type="hidden" th:value="@{/tree}"/>
<!-- TODO contents || node 用のモーダル画面を作成する -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal1" onclick="$('#modal1').Modal('show')">
    Launch demo modal
</button>
<div class="modal fade" id="modal1" tabindex="-1"
     role="dialog" aria-labelledby="label1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="label1">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Modal body
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">OK</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>
